// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

[v-cloak] {
    display: none;
}

.cart-counter {
    padding: 0 5px;
    border-radius: 50%;
    background-color: #ff9900;
}

#guest-products-index {
    img {
        height: 240px;
        object-fit: cover;
    }
}

#cart {
    img {
        height: 100px;
        width: 100%;
        object-fit: cover;

        @media screen and (min-width: 480px) {
            height: 120px;
        }

        @media screen and (min-width: 992px) {
            height: 170px;
        }
    }

    input[name="quantity"] {
        width: 50px;
    }
}

#checkout {
    img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .StripeElement {
        background-color: white;
        padding: 16px 16px;
        border: 1px solid #ccc;

    }

    .StripeElement--focus {
        // box-shadow: 0 1px 3px 0 #cfd7df;
    }

    .StripeElement--invalid {
        border-color: #fa755a;
    }

    .StripeElement--webkit-autofill {
        background-color: #fefde5 !important;
    }

    #card-errors {
        color: #fa755a;
    }
}
